<div id="home">
  <section class="home-give" layout="column" layout-align="center center">
    <h2>Help people find true love!</h2>
    <h4>Give feedback to your peers' Tinder profiles</h4>
    <a href="#giveCritique" class="button"><i class="fa fa-pencil-square-o"></i> Critique peers' profiles</a>
  </section>
  <section class="home-get" layout="column" layout-align="center center">
    <h2>Spice up your profile to get more matches!</h2>
    <h4>Get feedback for your Tinder profile!</h4>
    <a href="#getCritique" class="button"><i class="fa fa-file-text-o"></i> Request Profile Feedback</a>
  </section>
  <section class="home-about blue-grey lighten-5" layout="column" layout-align="center center">
    <div class="row">
      <div class="col s12 m4 l4">
        <img src="/static/img/resources/tinder.png" alt="Tinder Logo">
        <h4>So much potential</h4>
        <p>There's tons of singles on Tinder. It's never been so easy to connect with so many people. And yet it's impossible to find a match</p>
      </div>
      <div class="col s12 m4 l4">
        <img src="/static/img/resources/girl.jpg" alt="Tinder Girl">
        <h4>You spend hours swiping</h4>
        <p>You swipe right on every profile that comes your way, but you still get no matches. The problem isn't you. It's your profile.  </p>
      </div>
      <div class="col s12 m4 l4">
        <img src="/static/img/resources/match.jpg" alt="Tinder Match">
        <h4>Your perfect match is waiting</h4>
        <p>There's a perfect match for everyone. Improve your profile so you can find yours today! And you can help others while you're at it
    </div>
  </section>
  <footer class="global-footer v-depth-2">
    <div class="container left-align">
      <p class="copyright">Critinder <i class="fa fa-copyright"></i> 2016</p>
    </div>
  </footer>
</div>